<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Business Frontpage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
       
    </head>

    <body>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">réalisé par groupe THE HUNGER GAMES</p></div>
       
       
        </footer>
        
        <!-- Pricing section-->
        <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5">
               
                <div class="row gx-5 justify-content-center">
                    <!-- Pricing card free-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                             
                                <ul class="list-unstyled mb-4">
                              
                                    <li class="mb-2">
                                   
                                        Faites-vous tester régulièrement pour les ITS. Le fait d’avoir une ITS augmente votre risque de contracter ou de transmettre le VIH et autres ITS.
                                    </li>
                                   
                                </ul>
                               
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card pro-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                               
                                <ul class="list-unstyled mb-4">
                                    
                                    <li class="text-muted">
                                   
                                        Si vous avez le VIH, prenez votre traitement contre ce virus. Les personnes séropositives qui reçoivent régulièrement des soins et qui prennent fidèlement leur traitement contre le VIH pour maintenir une faible quantité de VIH dans leur sang (également appelée charge virale indétectable) ne transmettent pas le VIH à leurs partenaires sexuel·le·s.
                                    </li>
                                </ul>
                   
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card enterprise-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">Choisissez des activités comportant un moindre risque de transmission du VIH, tels que le sexe oral et la masturbation mutuelle.</span>
                                 
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                     
                                        <strong>Utilisez un condom neuf avec chaque partenaire pour les relations anales et vaginales. Les condoms réduisent le risque de transmettre le VIH et autres ITS.</strong>
                                    </li>
                                    
                                </ul>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials section-->
        <h1 style="text-align:right">
            <span>    Désolé </span>
            <span>   pouR </span>
            <span>   vOuS </span>
            <span>   ,   </span>
            <span>   Vous </span>
            <span>  étes </span>
            <span>   Atteint </span>
 
          </h1>
          <!--Brian Tracy-->
          
        
        <!-- Contact section-->
        
         <!-- Responsive navbar-->
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">MAUVé</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
              
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                             <h1 class="display-5 fw-bolder text-white mb-2" style="text-align:right">WELCOME TO MAUVÉ</h1>
                           
                            <div class="container">


                                <div style="text-align: left">    <img src="./assets/images/project/mauvé.png" alt="Snow" > </div>


                                <button class="btn">Button</button>
                              </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">à propos</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#!">Contact us</a>
                            </div>
                            
                         
                        </div>
                    </div>
                </div>
            </div>
        </header>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>